/*startregion layout*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

:root{
    --bc-footer-grey: #282828;
    --bc-all-dark_grey: #141922;
}
/*endregion layout*/


/*startregion utility*/
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.obj-fit-contain{
    object-fit: contain;
}

.obj-fit-cover{
    object-fit: cover;
}

.text-decor-none{
    text-decoration: none;
}

.filter-invert{
    filter: invert(100%);
}

.trans-dur-1s{
    transition-duration: 1s;
}

.cursor-pointer{
    cursor: pointer;
}

.dis-inline-block{
    display: inline-block;
}

.text-align-center{
    text-align: center;
}

.text-align-end{
    text-align: end;
}

.dis-flex{
    display: flex;
}

.dis-none{
    display: none;
}

.just-cont-center{
    justify-content: center;
}

.align-items-center{
    align-items: center;
}

.just-cont-flex-end{
    justify-content: flex-end;
}

.just-cont-flex-start{
    justify-content: flex-start;
}

.just-cont-space-around{
    justify-content: space-around;
}

.just-cont-space-between{
    justify-content: space-between;
}

.just-cont-space-evenly{
    justify-content: space-evenly;
}

.flex-dir-column{
    flex-direction: column;
}

.pos-relative{
    position: relative;
}

.pos-absolute{
    position: absolute;
}

.pos-fixed{
    position: fixed;
}

.bor-none{
    border: none;
}

.bor-rad-50pc{
    border-radius: 50%;
}

.flex-wrap{
    flex-wrap: wrap;
}

.asp-rat-1{
    aspect-ratio: 1 / 1;
}

.dis-none{
    display: none;
}

.overflow-auto{
    overflow: auto;
}

/*font*/
.fs-x-small{
    font-size: x-small;
}

.fs-xx-small{
    font-size: xx-small;
}

.fs-small{
    font-size: small;
}

.fs-medium{
    font-size: medium;
}

.fs-large{
    font-size: large;
}

.fs-x-large{
    font-size: x-large;
}

.fs-30px{
    font-size: 30px;
}

/*width*/
.width-100pc{
    width: 100%;
}

.width-50pc{
    width: 50%;
}

.width-70pc{
    width: 70%;
}

.width-40pc{
    width: 40%;
}

.width-50px{
    width: 50px;
}

.width-33pc{
    width: 33%;
}

.width-20pc{
    width: 20%;
}

.width-10pc{
    width: 10%;
}

/*height*/
.height-50pc{
    height: 50%;
}

.height-80pc{
    height: 80%;
}

.height-100pc{
    height: 100%;
}

/*margin*/
.m-auto{
    margin: auto;
}


.my-30px{
    margin: 30px 0;
}

.my-10px{
    margin: 10px 0;
}

.my-20px{
    margin: 20px 0;
}

.mt-30px{
    margin-top: 30px;
}

.mt-1rem{
    margin-top: 1rem;
}

.mb-60px{
    margin-bottom: 60px;
}

.mb-40px{
    margin-bottom: 40px;
}

.mb-30px{
    margin-bottom: 30px;
}

.mx-20px{
    margin:0 20px;
}

.mx-40px{
    margin:0 40px;
}

.mr-40px{
    margin-right: 40px;
}

.mr-10px{
    margin-right: 10px;
}

.mr-5px{
    margin-right: 5px;
}

.mr-3px{
    margin-right: 3px;
}

.mr-15px{
    margin-right: 15px;
}

.mr-25px{
    margin-right: 25px;
}

.mr-20px{
    margin-right: 20px;
}

.mr-10pc{
    margin-right: 10%;
}

.ml-10px{
    margin-left: 10px;
}

.ml-5px{
    margin-left: 5px;
}


/*padding*/
.pad-10px{
    padding: 10px;
}

.py-10px{
    padding: 10px 0;
}

.py-130px{
    padding: 130px 0;
}

.py-20px{
    padding: 20px 0;
}

.py-15px{
    padding: 15px 0;
}

.py-100px{
    padding: 100px 0;
}

.pt-20px{
    padding-top: 20px;
}

.pt-10px{
    padding-top: 10px;
}

.pt-5px{
    padding-top: 5px;
}

.pt-130px{
    padding-top: 130px;
}

.pt-40px{
    padding-top: 40px;
}

.pt-60px{
    padding-top: 60px;
}

.pb-5px{
    padding-bottom: 5px;
}

.pb-10px{
    padding-bottom: 10px;
}

.pb-70px{
    padding-bottom: 70px;
}

.px-20px{
    padding: 0 20px;
}

.px-40px{
    padding: 0 40px;
}

.pr-20px{
    padding-right: 20px;
}

.pl-20px{
    padding-left: 20px;
}

.pl-16px{
    padding-left: 16px;
}

/*endregion utility*/

/*startregion main*/
main{
    height: calc(100vh - 70px);
}

/*startsection sidebar*/
.sidebar{
    width: 280px;
    height: 100%;
    background-color: black;
    overflow: auto;
}

.sidebar .install{
    color: gray;
}

.sidebar .name{
    color: white;
}

.sidebar .playlist{
    color: grey;
}

.sidebar .playlist div:hover, .sidebar .playlist li:hover, .sidebar .name .install:hover{
    color: white;
    cursor: pointer;
}

.sidebar .playlist .create_playlist i{
    color: black;
    background-color: gray;
    padding: 7px 9px;
}

.sidebar .playlist .create_playlist:hover i{
    background-color: white;
}

.sidebar .playlist ul{
    list-style-type: none;
    max-height: 250px;
    overflow: auto;
}

.house{
    border-left: 4px solid greenyellow;
}

.sidebar .name .profile img{
    background-color: gray;
    width: 20px;
    border-radius: 50%;
}

.sidebar .profile:hover{
    cursor: pointer;
    color: yellowgreen;
}

.sidebar .profile:hover img{
    background-color: yellowgreen;
}
/*endsection sidebar*/

/*startsection all*/
.all{
    background-color: var(--bc-all-dark_grey);
    width: calc(100% - 280px);
}

.all> header{
    height: 60px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.407);
}

.all header .btn{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 20px;
    color: white;
    font-size: x-small;
    transition-duration: 2s;
}

.all header .btn:hover{
    font-size: small;
    padding: 10px 30px;
    color: greenyellow;
    border-color: greenyellow;
}

.all main .filter{
    padding-top: 10px;
    color: gray;
    line-height: 30px;
}


.all main .filter div:hover{
    color: white;
    cursor: pointer;
}

.all main{
    overflow: auto;
    max-height: calc(100% - 70px);
}

.all .card .col{
    width: calc(90% / 6);
}

.all .card .col div{
    color: white;
}

.all .card .col span{
    color: grey;
}

.all .card .col:hover{
    cursor: pointer;
}

.all .card .col:hover div{
    color: yellowgreen;
}

.all .recently .col:hover span{
    text-decoration: 1px underline gray;
}

.all .create_for_you .col:hover span{
    text-decoration: 1px underline white;

}

.all .card .col .play{
    background-color: rgba(0, 0, 0, 0.51);
    position: absolute;
    width: 100%;
    aspect-ratio: 1 / 1;
}

.all .card .col:hover .play{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*endsection all*/

/*endregion main*/


/*startregion footer*/
footer{
    height: 70px;
    background-color: var(--bc-footer-grey);
}

footer .row{
    height: 100%;
}

footer .row .col{ 
    color: white;
}

footer .row .col1{ 
    color: gray;
}

footer .row .col1 i:hover{
    color: white;
    cursor: pointer;
}

footer .row .col1 .name-song:hover{
    text-decoration: 1px underline gray;
    cursor: pointer;
}

footer .row .col1 img{
    height: 40px;
}

footer i:hover{
    cursor: pointer;
}

footer .fa-circle-play:hover{
    font-size: x-large;
}

.volume{
    width: 20%; 
    height: 3px; 
    background-color: grey;  
}
  
.power{
    width: 40%; 
    height: 100%; 
    position: relative; 
}
  
.whole-line{
    height: 100%;
    width: 100%;
    background-color: white;
    position: relative;
}

.dot{
    width: 25px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: white;
    display: none;
}

.volume:hover .dot, .time:hover .dot{
    display: block;
}

.volume:hover, .time:hover{
    cursor: pointer;
}

.volume:hover .whole-line, .time .volume:hover .whole-line{
    background-color: greenyellow;
}

.time .volume{
    width: 60%; 
    height: 5px; 
    background-color: grey;  
}
  
.time .power{
    width: 40%; 
    height: 100%; 
    position: relative; 
}
  
.time .whole-line{
    height: 100%;
    background-color: white;
}

.time .whole-line:hover{
    background-color: greenyellow;
    cursor: pointer;
}
/*endregion footer*/


@media screen and (max-width:1100px){

/*startregion utility*/
.width-70pc-lg{
    width: 70%;
}

.mr-15px-lg{
    margin-right: 15px;
}

.just-cont-flex-start-lg{
    justify-content: flex-start;
}

.mb-10px-lg{
    margin-bottom: 10px;
}
/*endregion utility*/

/*startregion main*/
/*startsection all*/
.all .card .col{
    width: calc(90% / 4);
}
/*endsection all*/
/*endregion main*/
}


@media screen and (max-width:800px){

    /*startregion utility*/
    .width-100pc-md{
        width: 100%;
    }

    .mr-0-md{
        margin-right: 0;
    }

    .mr-15px-md{
        margin-right: 15px;
    }

    .mb-10px-md{
        margin-bottom: 10px;
    }
    /*endregion utility*/

    /*startregion main*/
    /*startsection all*/
    .all .card .col{
        width: calc(90% / 3);
    }
    /*endsection all*/
    /*endregion main*/
}


@media screen and (max-width:650px){

    /*startregion utility*/
    .mr-5px-s{
        margin-right: 5px;
    }

    .mr-10px-s{
        margin-right: 10px;
    }

    .flex-dir-column-s{
        flex-direction: column;
    }

    .ml-0-s{
        margin-left: 0;
    }

    .mr-10px-s{
        margin-right: 10px;
    }

    .bor-none-s{
        border: none;
    }

    .pl-6px-s{
        padding-left: 6px;
    }

    .pr-4px-s{
        padding-right: 4px;
    }

    .pl-8px-s{
        padding-left: 8px;
    }

    .pl-10px-s{
        padding-left: 10px;
    }

    .pb-0-s{
        padding-bottom: 0;
    }

    .mt-5px-s{
        margin-top: 5px;
    }

    .dis-none-s{
        display: none;
    }

    .dis-block-s{
        display: block;
    }

    .width-100pc-s{
        width: 100%;
    }

    .width-30px-s{
        width: 30px;
    }
    /*endregion utility*/
    
    /*startregion main*/
    /*startsection sidebar*/
    .sidebar{
        width: 30px;
    }
    /*endsection sidebar*/

    /*startsection all*/
    .all{
        width: calc(100% - 30px);
    }
    /*endsection all*/
    /*endregion main*/
    
    /*startregion footer*/
    .time .volume{
        width: 40%; 
    }
    /*endregion footer*/
}

@media screen and (max-width:400px){

    /*startregion utility*/
    .mr-0-xs{
        margin-right: 0 ;
    }

    .mb-10px-xs{
        margin-bottom: 10px;
    }

    .mr-10px-xs{
        margin-right: 10px;
    }

    .mr-15px-xs{
        margin-right: 15px;
    }

    .ml-3px-xs{
        margin-left: 3px;
    }

    .mr-3px-xs{
        margin-right: 3px;
    }

    .width-15pc-xs{
        width: 25%;
    }

    .width-52pc-xs{
        width: 42%;
    }

    .just-cont-space-between-xs{
        justify-content: space-between;
    }
    /*endregion utility*/
    
    /*startregion main*/
    /*startsection all*/
    .all .card .col{
    width: calc(90% / 2);
    }
    /*endsection all*/
    /*endregion main*/
    
    
    /*startregion footer*/
    .volume{
        width: 70%; 
    }
    /*endregion footer*/
}

@media screen and (max-height:700px){

    .sidebar .playlist ul{
        max-height: 200px;
    }

}

@media screen and (max-height:600px){

    .sidebar .playlist ul{
        max-height: 150px;
    }

}

@media screen and (max-height:550px){

    .sidebar .playlist ul{
        max-height: 100px;
    }

}

@media screen and (max-height:500px){

    .sidebar .playlist ul{
        max-height: 50px;
    }

    .all header{
        display: none;
    }

    .all main{
        overflow: auto;
        max-height: 100%;
    }

}

